.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 2px;
}

.partitiontip{
  fill: #de2d26;
  color: #de2d26;
  text-anchor:end;
}


.node circle {
  fill: #be2714;
}
