.scattercolor:hover {
    fill: black;
    stroke: black;
}

#hdPlot{
    position: relative;
}

svg {
    position: relative;
    font: 10px sans-serif;
    /*padding: 10px;*/
    /*font-weight: bold;*/

}
div{
    position: relative;
}

.axis line {
    stroke: #ddd;
}

.axis path {
    display: none;

}

.cell text {
    /*font-weight: bold;*/
    text-transform: capitalize;
    fill: black;
}

.frame {
    shape-rendering: crispEdges;
    fill: none;
    stroke: #aaa;
}
/*
.crystaldiv canvas {
    position: absolute;
    */
    /*top: 800px;*/
/*    left: 0;
}
*/
circle.hidden {
    position: relative;
    fill: #ccc !important;
    /*fill-opacity: .5;*/
}

circle {
    position: relative;

}

circle.highlight{
    stroke: black
}
.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

.crystaldiv {
    float:left;
    position: relative;
}
.ticks{
    color: #1B2733;
    font: 10px sans-serif;
}