.scattercolor:hover {
    fill: black;
    stroke: black;
}


svg {
    font: 10px sans-serif;
    padding: 10px;
    /*font-weight: bold;*/

}


.axis line {
    stroke: #ddd;
}

.axis path {
    display: none;

}

.cell text {
    /*font-weight: bold;*/
    text-transform: capitalize;
    fill: black;
}

.frame {
    shape-rendering: crispEdges;
    fill: none;
    stroke: #aaa;
}

circle.hidden {
    fill: #ccc !important;
}
circle.highlight{
    stroke: black
}
.extent {
    fill: #000;
    fill-opacity: .125;
    stroke: #fff;
}

.crystaldiv {
    float:left;

}
.ticks{
    color: #1B2733;
    font: 10px sans-serif;
}